@charset "utf-8";

/* 
    Base Style
*/

html {
    /* ルートのフォントサイズを10px相当に指定 */
    font-size: 62.5%;
}

body {
    color: #333;
}

ul {
    list-style: none;
}

a {
    color: #333;
}


/* 
    MainContent Style
*/

.main-content {
    max-width: 1000px;
    margin: 0 auto;
}


/* 
    Header Style
*/

.header {
    margin: 6rem 0 2rem 0;
}

.header-title {
    font-size: 2.4rem;
    font-weight: lighter;
}


/* 
    Hero Style
*/

.hero {}


/* 
    SubContent Style
*/

.sub-content {
    max-width: 80rem;
    margin: 4.5rem auto;
}


/* 
    Index Section Style
*/

.section-index {
    background-color: rgb(245, 243, 243);
    padding: 5rem 3rem;
}

.section-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 3.4rem;
}

.index-text {
    border: solid #333 0.1rem;
    padding: 4rem 3rem;
}

.text-list {
    /* インライン要素を「display: table;」と「margin: 0 auto;」で中央に配置 */
    display: table;
    margin: 0 auto;
    line-height: 3.4rem;
}

.text-list .text-item {
    font-size: 1.6rem;
}


/* 
  Photos Section Style
*/

.section-photos {
    margin-top: 5rem;
}

.photos-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.photo-item>img {
    width: 38rem;
    margin: 1rem;
}

@media screen and (max-width: 1024px) {
    .section-photos {
        text-align: center;
    }
    .photos-list {
        display: block;
    }
    .photo-item>img {
        width: 60rem;
    }
}


/* 
  Detail Section Style
*/

.section-detail {
    margin-top: 5rem;
    background-color: rgb(245, 243, 243);
    padding: 5rem;
}

.details-info {
    display: flex;
    font-size: 1.4rem;
}

.info {
    width: 300px;
}

.info dt {
    font-size: 1.2rem;
    font-weight: bold;
}

.info dd {
    margin: 0 0 1rem 0;
}

.detail-text {
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: #333 solid 1px;
    padding-left: 2rem;
}

.detail-text p {
    margin-top: 0;
}

.detail-text a {
    vertical-align: bottom;
}

@media screen and (max-width: 1024px) {
    .details-info {
        display: block;
    }
    .detail-text {
        width: 100%;
        padding: 2rem 0 0 0;
        border-left: transparent;
        border-top: #333 solid 1px;
        text-align: left;
    }
}


/* 
    Footer Style
*/

.footer {
    margin-top: 5rem;
    text-align: center;
}